name: Test Deploy Action

on:
  workflow_dispatch:
  pull_request:
    types:
      - closed
      - opened
      - reopened
      - synchronize

permissions:
  contents: read
  pull-requests: read
  deployments: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: preview
      url: ${{ steps.deploy-step.outputs.deployment-url }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy to Codesphere
        id: deploy-step
        uses: ./
        with:
          token: ${{ secrets.CS_TOKEN }}
          teamId: ${{ secrets.CS_TEAM_ID }}

      - name: Debug Outputs
        run: |
          echo "deployment-url=${{ steps.deploy-step.outputs.deployment-url }}"
          echo "workspace-id=${{ steps.deploy-step.outputs.workspace-id }}"
