name: Test Deploy Action

on:
  workflow_dispatch:
  pull_request:
    types:
      - closed
      - opened
      - reopened
      - synchronize

permissions:
  contents: read
  pull-requests: read
  deployments: write

jobs:
  test-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy to Codesphere
        id: deploy
        uses: ./
        with:
          token: ${{ secrets.CS_TOKEN }}
          teamId: ${{ secrets.CS_TEAM_ID }}

      - name: Create GitHub Deployment Status
        if: steps.deploy.outputs.deployment-url != ''
        uses: chrnorm/deployment-status@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          environment-url: ${{ steps.deploy.outputs.deployment-url }}
          environment: preview
          state: success
